header{
    position: fixed;
    width: 100vw;
    height: 100px;
    padding: 10px;
    opacity: 1;
    z-index: 3;
    background: var(--color06);
}

header .container{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
i.gg-menu{display: none;}
i.menuHidden{display: none;}

.logo{ flex: 1; }

.logo > div{
    width: 200px;
    height: 86%;
}

.logo img{
    height: 100%;
    width: auto;
}

nav{ flex: 3;}

nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none; 
}

nav li{ 
    display: inline-block; 
    margin-top: -30px;
}

nav a{
    text-decoration: none;
    color: #999;
    font: 500 1.5rem var(--text);
    padding: 10px 30px;
    border-bottom: 2px solid transparent;
}

nav a:hover{
    color: #fff;
}


#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #0007 url(../images/bg-hamburger.jpg) center bottom no-repeat;
    background-size: cover;
    background-blend-mode: darken;
}

.banner-txt{
    min-width: 200px;
}

.banner-bar{
    width: 100%;
    height: 4px;
    background-color: var(--color03);
}

.banner-title{
    font: 400 4rem var(--title);
    letter-spacing: 3px;
}

.banner-title >span{font-family: cursive;}

.models {display: none;}

.offers{
    width: 100vw;
    padding-bottom: 30px;
    background-color: var(--color02);
    overflow: hidden;
}

.offers .container {overflow: hidden;}

.offers-area{
    position: relative;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 50px;
    width: 200vw;
    transition: ease all .8s;
}

.offers-area--item{
    flex-basis: 10.29%;
    position: relative;
    box-shadow: 0px 2px 0px 0px #ab684b;;
    border-radius: 10px;
    background-color: #2b1006;
}

.offers-link{
    text-decoration: none;
    color: #999;
}

.item-discount-label{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 3px 8px;
    background-color: var(--color05);
    border-radius: 4px;
    z-index: 1;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
}

.item--img{
    position: relative;
    width: 100%;
    height: 330px;
}

.item--img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    filter: brightness(70%);
}

.item-content{
    padding: 5px 5px 5px 10px;
}

.item-content--name{
    display: block;
    text-decoration: none;
    color: #888;
    font: normal 1.5rem var(--text);
}

.item-content-prices{margin: 7px 0;}

.item-content--prices-old-price{
    display: inline-block;
    font: normal 1rem var(--text);
    text-decoration: line-through;
    margin-left: 15px;
}

.item-content--current-price{ font: normal 1.6rem var(--text);}

.product{
    background-color: var(--color03);
    width: 100vw;
}

.product-light{ background-color: var(--color02);}

.product-desc{
    font: normal 1.2rem var(--text);
    margin: 10px 0;
}

.product-area{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 252px;
    justify-content: space-between;
    gap: 15px 30px;
    padding: 50px;
    width: 100%;
    min-height: 100vh;
}

.product-item{
    position: relative;
}

.product-item--img{
    position: absolute;
    width: 500px;
    height: 250px;
    object-fit: cover;
    filter: brightness(50%);
}

.product-item--info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #000a;
    z-index: 1;
}

.product-item--info-name{
    font: 400 2rem var(--text);
    color: #fff;
    text-align: center;
}

.product-item--price{
    font: bold 1.5rem var(--text);
    color: #A61212;
}

.product-window-area{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; /* flex */
    justify-content: center;
    align-items: center;
    background-color: #fff4;
    transition: ease all .5s;
    z-index: 5;
}

.product-window-body{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 950px;
    padding: 5px;
    border-radius: 5px;
    background-color: #2b1006;
    box-shadow:0px 0px 15px #532919;
}

.product-window-img{
    flex: 1;
}

.product-window-img--img{
    width:100%;
    height: 100%;
    object-fit: fill;
}

.product-window-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 20px;
}

.product-window-info--name{
    flex: 1;
    font: bold 2rem var(--title);
    letter-spacing: 4px;
    color: #ddd;
    margin: 25px 0;
}

.product-window-info--ingredients{
    flex: 1;
    font-size:.9rem;
    text-align: justify;
    text-indent: 15px;
    margin: 15px 0;
}

.product-window-info-extra{ flex: 5; }

.product-window-info-extra--txt{
    font: normal 1.2rem var(--text);
    text-transform: uppercase;
    color: #DDD;
    margin: 15px 0 10px 0;
}

.product-window-info-extra-size{
    display: none; /*flex*/
    justify-content: center;
    overflow: hidden;
    background-color: #eee;
    border-radius: 8px;
    width: 342px;
}

.product-window-info-extra-additional{ 
    display: none;
    flex-direction: column;
} /*Block*/

.product-window-info-extra-additional .extras-itens{
    display: block;
    margin: 5px 0;
}


.product-window-info-extra-additional .extra-name{
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #ddd;
}

.product-window-info-extra-additional .extra-price{
    display: inline;
    float: right;
}

.product-window-info--price-area{
    flex: 1;
    padding: 10px 0;
}

.product-window-info--price-area--txt{
    font: normal 1.2rem var(--text);
    text-transform: uppercase;
    color: #DDD;
}

.product-window-info--price-area-price{ margin-bottom: 15px; }

.product-window-info--price-area-price--actual-price{ font: 400 2rem var(--text);}

.product-window-info--cancel-default{
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 5px 10px;
    background-color: transparent;
    font: normal 1.3rem var(--text);
    letter-spacing: 3px;
    color: #999;
    margin-left: 15px;
}

.product-window-info--cancel-mobile{display: none;}

aside{
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 4;
    
}

.login{
    position: relative;
    display: none; /* flex */
    flex-direction: column;
    margin-top: 20px;
    width: 300px;
    background: var(--color06);
    border-radius: 15px;
    left: 100vw;
    transition: ease all .5s;
}

.login-image{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image img{
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 3px 3px 15px #000;
}

.login-user-area{
    flex: 4;
}

.login-user-area--txt{
    font: bold 2rem var(--title);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
    color: var(--color05);
    margin-top: 20px;
}

.login-user-area form{margin: 20px;}

.login-user-area--p{
    text-indent: 15px;
    font: normal 1rem var(--text);
    text-transform: uppercase;
}

.login-user-area form input{
    border: 0;
    height: 50px;
    margin: 10px 0 20px 0;
    padding: 20px;
    border-radius: 60px;
}

.login-user-area form input::placeholder{
    font-family: var(--text);
    font-size: 1rem;
}

.login-user-area form button{
    display: block;
    margin-bottom: 10px;
}

.cart{
    position: relative;
    display: none; /*Flex*/
    left: 100vw;
    flex-direction: column;
    padding: 10px;
    margin: 20px 0px 0px 30px;
    width: 350px;
    background: var(--color06);
    border-radius: 15px;
    transition: ease all .5s;
    
}

.cart-txt{ padding: 5px; }

.cart-txt-h2{
    position: relative;
    text-transform: uppercase;
    font-family: var(--title);
    letter-spacing: 3px;
}

.cart-itens{
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: 4px;
}

.cart-itens::-webkit-scrollbar{
    width: 4px;
}

.cart-itens--item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #696969;
}

.cart-itens--item img{
    flex: 1;
    width: 60px;
    border-radius: 50%;
}

.cart-itens--item-name{
    flex: 3;
    font-size: 1rem;
    text-indent: 10px;
}

.cart-itens--item-qtarea{ flex: 1; }

.cart-price-info--default{
    position: relative;
    padding: 5px;
}

.cart-price-info--discount,
.cart-price-info--subtotal{
    color: #8a8a8a;
}

.cart-price-info--total{
    font-weight: 700;
    color: #cacaca;
}

.cart-price-info--span{
    position: absolute;
    right: 5px;
    color: #eee;
}

.cart-price-info--button{ 
    display: block; 
    margin-top: 15px;
}

@media (min-width: 1000px) and (max-width: 1124px){
    i.gg-menu{display: none;}
    header .container{max-width: 900px;}

    .container{padding: 0 25px;}

    .offers-area--item {flex-basis: 11.8%;}

    .product-area{
        grid-template-columns: repeat(2, 1fr);
        min-width: 412px;
    }
    
    .product-item--img{
        width: 430px;
    }
    
    .product-item--info{
        flex-direction: column;
        width: 50%;
    }

    .cart-itens { height: 250px;}
    
    .login-user-area form input {
        height: 40px;
        margin: 6px 0 20px 0;
    }

    .login-user-area form button { margin-bottom: -11px;}
    
    .default-btn { margin: 15px auto;}

    .product-item--img{width: 100%;}

    .product-window-body {
        width: 90%;
        height: 90%;
    }

    .product-window-info--cancel-mobile{ display: block;}
    .product-window-info--cancel-default{padding: 3px 10px;}
    .product-window-info--cancel{display: none;}

    .product-window-img--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-window-info {padding: 0px 5px 0px 5px;}

    .product-window-info--name { margin: 5px 0; }
    .product-window-info--ingredients {margin: 2px 0;}
}

@media (min-width: 601px) and (max-width: 999px){
    i.gg-menu{display: none;}
    .offers-area--item {flex-basis: 11.5%;}
    .product-area{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
    }

    .product-item--img{width: 100%;}
}

@media (max-width: 600px){

    header{
        padding: 0;
    }
    i.gg-menu{
        display: block;
        top: 40%;
        right: 20px;
        cursor: pointer;
    }

    .menuHidden{
        display: none;
        top: 30%;
        right: 20px;
        cursor: pointer;
    }

    nav{
        position: absolute;
        display: none;
        opacity: 0;
        background-color: var(--color06);
        top: 99%;
        width: 100%;
        height: 200px;
        transition: ease all .8s;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 114%;
    }

    nav a{
        margin: 0;
        padding: 0;
    }

    .open-login,
    .open-cart{
        height: 30px;
    }

    .logo{padding: 10px;}
    
    .container{
        padding: 0px;
    }
    
    .offers-area{width: 347vw;}
    .offers .container{padding: 0 0;}

    .offers-area--item {flex-basis: 50%;}

    .product-area{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        width: 100%;
    }

    .product-item--img{width: 100%;}

    .product-window-body {
        width: 90%;
        height: 90%;
    }

    .product-window-info--cancel-mobile{ display: block;}
    .product-window-info--cancel-default{padding: 3px 10px;}
    .product-window-info--cancel{display: none;}

    .product-window-img--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-window-info {padding: 0px 5px 0px 5px;}

    .product-window-info--name { margin: 5px 0; }
    .product-window-info--ingredients {margin: 2px 0;}


    .banner-bar,
    .banner-title{
        font-size: 3rem;
    }
    
    .product-area{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 350px;
        justify-content: center;
        width: 100%;
    }

    
    .product-item--img{
        height: 100%;
    }
    
}

@media (max-width: 437px){
    header{
        padding: 0;
    }
    i.gg-menu{
        display: block;
        top: 40%;
        right: 20px;
        cursor: pointer;
    }

    nav{
        position: absolute;
        display: none;
        opacity: 0;
        background-color: var(--color06);
        top: 99%;
        width: 100%;
        height: 200px;
        transition: ease all .8s;
    }

    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 114%;
    }

    nav a{
        margin: 0;
        padding: 0;
    }

    .open-login,
    .open-cart{
        height: 30px;
    }

    .logo{padding: 10px;}

    .container{
        padding: 0px;
    }

    .banner-bar,
    .banner-title{
        font-size: 2rem;
    }
    
    .product-area {min-width: 320px}
    .default-btn {font: bold .8rem arial;}

    .product-window-body {
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: scroll;
    }
    .product-item--info-name {
        font-size: 1.3rem;
    }

    .product-window-info--name {
        text-align: center;
        margin: 2px 0;
    }

    .product-window-info--price-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .product-window-info-extra-size {
        width: 300px;
    }

    .cart {
        width: 305px;
    }
    

}